# Created by https://www.toptal.com/developers/gitignore/api/eclipse
# Edit at https://www.toptal.com/developers/gitignore?templates=eclipse

### Eclipse ###
.metadata
bin/
de.tu_bs.cs.isf.cbc.cbcclass.model.edit
de.tu_bs.cs.isf.cbc.cbcclass.model.editor
de.tu-bs.cs.isf.cbc.model.edit
de.tu-bs.cs.isf.cbc.model.editor
de.tu_bs.cs.isf.cbc.statistics.editor
de.tu_bs.cs.isf.cbc.statistics.edit
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/AbstractStatement.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/CbCFormula.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/CbCProblem.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/CbcmodelFactory.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/CbcmodelPackage.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/CompositionStatement.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/CompositionTechnique.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/Condition.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/GlobalConditions.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/JavaVariable.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/JavaVariables.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/MethodStatement.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/OriginalStatement.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/Rename.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/Renaming.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/ReturnStatement.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/SelectionStatement.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/SkipStatement.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/SmallRepetitionStatement.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/StrengthWeakStatement.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/VariableKind.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/Variant.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/impl/AbstractStatementImpl.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/impl/CbCFormulaImpl.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/impl/CbCProblemImpl.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/impl/CbcmodelFactoryImpl.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/impl/CbcmodelPackageImpl.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/impl/CompositionStatementImpl.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/impl/ConditionImpl.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/impl/GlobalConditionsImpl.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/impl/JavaVariableImpl.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/impl/MethodStatementImpl.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/impl/OriginalStatementImpl.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/impl/RenameImpl.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/impl/RenamingImpl.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/impl/ReturnStatementImpl.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/impl/SelectionStatementImpl.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/impl/SkipStatementImpl.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/impl/SmallRepetitionStatementImpl.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/impl/StrengthWeakStatementImpl.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/impl/VariantImpl.java
de.tu-bs.cs.isf.cbc.model/src-gen/de/tu_bs/cs/isf/cbc/cbcmodel/util/
de.tu_bs.cs.isf.cbc.cbcclass.model/src-gen/de/tu_bs/cs/isf/cbc/cbcclass/model/cbcclass/CbcclassFactory.java
de.tu_bs.cs.isf.cbc.cbcclass.model/src-gen/de/tu_bs/cs/isf/cbc/cbcclass/model/cbcclass/CbcclassPackage.java
de.tu_bs.cs.isf.cbc.cbcclass.model/src-gen/de/tu_bs/cs/isf/cbc/cbcclass/model/cbcclass/Field.java
de.tu_bs.cs.isf.cbc.cbcclass.model/src-gen/de/tu_bs/cs/isf/cbc/cbcclass/model/cbcclass/Method.java
de.tu_bs.cs.isf.cbc.cbcclass.model/src-gen/de/tu_bs/cs/isf/cbc/cbcclass/model/cbcclass/ModelClass.java
de.tu_bs.cs.isf.cbc.cbcclass.model/src-gen/de/tu_bs/cs/isf/cbc/cbcclass/model/cbcclass/Parameter.java
de.tu_bs.cs.isf.cbc.cbcclass.model/src-gen/de/tu_bs/cs/isf/cbc/cbcclass/model/cbcclass/Visibility.java
de.tu_bs.cs.isf.cbc.cbcclass.model/src-gen/de/tu_bs/cs/isf/cbc/cbcclass/model/cbcclass/impl/CbcclassFactoryImpl.java
de.tu_bs.cs.isf.cbc.cbcclass.model/src-gen/de/tu_bs/cs/isf/cbc/cbcclass/model/cbcclass/impl/CbcclassPackageImpl.java
de.tu_bs.cs.isf.cbc.cbcclass.model/src-gen/de/tu_bs/cs/isf/cbc/cbcclass/model/cbcclass/impl/FieldImpl.java
de.tu_bs.cs.isf.cbc.cbcclass.model/src-gen/de/tu_bs/cs/isf/cbc/cbcclass/model/cbcclass/impl/ModelClassImpl.java
de.tu_bs.cs.isf.cbc.cbcclass.model/src-gen/de/tu_bs/cs/isf/cbc/cbcclass/model/cbcclass/impl/ParameterImpl.java
de.tu_bs.cs.isf.cbc.cbcclass.model/src-gen/de/tu_bs/cs/isf/cbc/cbcclass/model/cbcclass/util/
de.tu_bs.cs.isf.cbc.statistics/src-gen/

# Update site
de.kit.tva.corc.update

# Antlr
**/target/


tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
*.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
*.cproject

# CDT- autotools
*.autotools

# Java annotation processor (APT)
*.factorypath

# PDT-specific (PHP Development Tools)
*.buildpath

# sbteclipse plugin
*.target

# Tern plugin
*.tern-project

# TeXlipse plugin
*.texlipse

# STS (Spring Tool Suite)
*.springBeans

# Code Recommenders
*.recommenders/

# Annotation Processing
*.apt_generated/
*.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
*.cache-main
*.scala_dependencies
*.worksheet

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
#.project

### Eclipse Patch ###
# Spring Boot Tooling
*.sts4-cache/

### Someone used a Mac and added DS_Store files... ###
*.DS_Store

### Ignore merge backup files
*.orig

### Class files
*.class

# Build properties
build.properties
