<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated cbcmodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.tu_bs.cs.isf.cbc.cbcmodel.presentation.CbcmodelModelWizardID"
            name="%_UI_CbcmodelModelWizard_label"
            class="de.tu_bs.cs.isf.cbc.cbcmodel.presentation.CbcmodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CbcmodelModelFile.gif">
         <description>%_UI_CbcmodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated cbcmodel -->
      <editor
            id="de.tu_bs.cs.isf.cbc.cbcmodel.presentation.CbcmodelEditorID"
            name="%_UI_CbcmodelEditor_label"
            icon="icons/full/obj16/CbcmodelModelFile.gif"
            extensions="cbcmodel"
            class="de.tu_bs.cs.isf.cbc.cbcmodel.presentation.CbcmodelEditor"
            contributorClass="de.tu_bs.cs.isf.cbc.cbcmodel.presentation.CbcmodelActionBarContributor">
      </editor>
   </extension>

</plugin>
