<plugin>
	<!-- Examples: CBC TOOL-->
	<extension point = "org.eclipse.ui.newWizards">
		<category
	   		id = "org.eclipse.ui.examples.corc.wizard"
	   		name = "CorC">
		</category>
		<wizard
        category="org.eclipse.ui.examples.corc.wizard"
        class="de.tu_bs.cs.isf.corc.exampleWizard.CorCWizard"
        icon="icons/corclogo.png"
        id="de.tu-bs.cs.isf.corc.wizard"
        name="CorC Examples">
       		<description>this wizard will create a new project in your workspace that contains CorC example diagrams</description>
	   		<selection class="org.eclipse.core.resources.IResource"/>
		</wizard>
	</extension>
	 <!-- Examples: TAXONOMY TOOL-->
	<!-- newDiagram: CorC-->
	<extension point = "org.eclipse.ui.newWizards">
		<wizard	
		class="de.tu_bs.cs.isf.corc.newFileWizard.NewCorCFileWizard"
        category="org.eclipse.ui.examples.corc.wizard"
        icon="icons/corclogo.png"
        id="de.tu-bs.cs.isf.newDiagram.corc.wizard"
        project = "true"
        name="new CorC File">
       		<description>this wizard will let you create a new CorC diagram or textual</description>
	   		<selection class="org.eclipse.core.resources.IResource"/>
		</wizard>
	</extension>
	<!-- newDiagram: TAX-->
	
</plugin>
