<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="de.tu-bs.cs.isf.cbcclass.tool.diagramType"
            name="CbC Class Diagram"
            type="cbcclass">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="de.tu_bs.cs.isf.cbcclass.tool.diagram.CbCClassDiagramTypeProvider"
            context="org.eclipse.graphiti.ui.diagramEditor"
            id="de.tu-bs.cs.isf.cbcclass.tool.CbCClassDiagramTypeProvider"
            name="CbC Class Diagram Type Provider">
         <diagramType
               id="de.tu-bs.cs.isf.cbcclass.tool.diagramType">
         </diagramType>
      </diagramTypeProvider>
   </extension>
   <extension
    point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor contributorId="cbcclass.PropertyContributor">
        <propertyCategory category="Graphiti">
        </propertyCategory>
    </propertyContributor>
</extension>

<extension
      point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
   <propertyTabs
          contributorId="cbcclass.PropertyContributor">
    <propertyTab
         category="Graphiti"
         id="Basics"
         label="Basics">
    </propertyTab>
   </propertyTabs>
</extension>
<extension
      point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections
          contributorId="cbcclass.PropertyContributor">
        <propertySection
              class="de.tu_bs.cs.isf.cbcclass.tool.propertiesview.BasicsSection"
              filter="de.tu_bs.cs.isf.cbcclass.tool.propertiesview.PictogramFilter"
              id="Basics"
              tab="Basics">
        </propertySection>
    </propertySections>
</extension>

</plugin>
