<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="de.tu-bs.cs.isf.cbc.tool.diagramType"
            name="CbC Diagram"
            type="cbc">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="de.tu_bs.cs.isf.cbc.tool.diagram.CbCDiagramTypeProvider"
            context="org.eclipse.graphiti.ui.diagramEditor"
            id="de.tu-bs.cs.isf.cbc.tool.CbCDiagramTypeProvider"
            name="CbC Diagram Type Provider">
         <diagramType
               id="de.tu-bs.cs.isf.cbc.tool.diagramType">
         </diagramType>
         <imageProvider
               id="de.tu-bs.cs.isf.cbc.tool.imageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="de.tu_bs.cs.isf.cbc.tool.diagram.CbCImageProvider"
            id="de.tu-bs.cs.isf.cbc.tool.imageProvider">
      </imageProvider>
   </extension>
   <extension
    point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor contributorId="cbc.PropertyContributor">
        <propertyCategory category="Graphiti">
        </propertyCategory>
    </propertyContributor>
	</extension>
     
<extension
      point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
   <propertyTabs
          contributorId="cbc.PropertyContributor">
          <propertyTab
         category="Graphiti"
         id="Code Reader"
         label="Code Reader">
    </propertyTab>
          <propertyTab
         category="Graphiti"
         id="Replacements"
         label="Replacements">
    </propertyTab>
   <propertyTab
         category="Graphiti"
         id="Configurations"
         label="Configurations">
    </propertyTab>
   <propertyTab
         category="Graphiti"
         id="Basics"
         label="Basics">
    </propertyTab>
   </propertyTabs>
</extension>
<extension
      point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections
          contributorId="cbc.PropertyContributor">
        <propertySection
              class="de.tu_bs.cs.isf.cbc.tool.properties_view.BasicsSection"
              filter="de.tu_bs.cs.isf.cbc.tool.properties_view.PictogramFilter"
              id="Basics"
              tab="Basics">
        </propertySection>
        <propertySection
              class="de.tu_bs.cs.isf.cbc.tool.properties_view.ConfigurationsSection"
              filter="de.tu_bs.cs.isf.cbc.tool.properties_view.PictogramFilter"
              id="Configurations"
              tab="Configurations">
        </propertySection>
        <propertySection
              class="de.tu_bs.cs.isf.cbc.tool.properties_view.ReplacementsSection"
              filter="de.tu_bs.cs.isf.cbc.tool.properties_view.PictogramFilter"
              id="Replacements"
              tab="Replacements">
        </propertySection>
        <propertySection
              class="de.tu_bs.cs.isf.cbc.tool.properties_view.CodeReaderSection"
              filter="de.tu_bs.cs.isf.cbc.tool.properties_view.PictogramFilter"
              id="Code Reader"
              tab="Code Reader">
        </propertySection>
    </propertySections>
</extension>
<extension
      point="org.eclipse.ui.startup">
   <startup
         class="workspace_behavior.Initialize_Listener">
   </startup>
</extension>
</plugin>
