<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="de.tu-bs.cs.isf.cbc.tool.diagramType"
            name="CbC Diagram"
            type="cbc">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="de.tu_bs.cs.isf.cbc.tool.diagram.CbCDiagramTypeProvider"
            context="org.eclipse.graphiti.ui.diagramEditor"
            id="de.tu-bs.cs.isf.cbc.tool.CbCDiagramTypeProvider"
            name="CbC Diagram Type Provider">
         <diagramType
               id="de.tu-bs.cs.isf.cbc.tool.diagramType">
         </diagramType>
         <imageProvider
               id="de.tu-bs.cs.isf.cbc.tool.imageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="de.tu_bs.cs.isf.cbc.tool.diagram.CbCImageProvider"
            id="de.tu-bs.cs.isf.cbc.tool.imageProvider">
      </imageProvider>
   </extension>
   <extension
    point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor contributorId="cbc.PropertyContributor">
        <propertyCategory category="Graphiti">
        </propertyCategory>
    </propertyContributor>
</extension>
      
<extension
      point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
   <propertyTabs
          contributorId="cbc.PropertyContributor">
    <propertyTab
         category="Graphiti"
         id="Configurations"
         label="Configurations">
    </propertyTab>
    <propertyTab
         category="Graphiti"
         id="Replacements"
         label="Replacements">
    </propertyTab>
    <propertyTab
         category="Graphiti"
         id="CodeReader"
         label="Code Reader">
    </propertyTab>
    <propertyTab
         category="Graphiti"
         id="Basics"
         label="Basics">
    </propertyTab>
   </propertyTabs>
</extension>
<extension
      point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections
          contributorId="cbc.PropertyContributor">
        <propertySection
              afterSection="Replacements"
              class="de.tu_bs.cs.isf.cbc.tool.propertiesview.ConfigurationsSection"
              filter="de.tu_bs.cs.isf.cbc.tool.propertiesview.PictogramFilterVariational"
              id="Configurations"
              tab="Configurations">
        </propertySection>
        <propertySection
              afterSection="CodeReader"
              class="de.tu_bs.cs.isf.cbc.tool.propertiesview.ReplacementsSection"
              filter="de.tu_bs.cs.isf.cbc.tool.propertiesview.PictogramFilterVariational"
              id="Replacements"
              tab="Replacements">
        </propertySection>
        <propertySection
              afterSection="Basics"
              class="de.tu_bs.cs.isf.cbc.tool.propertiesview.CodeReaderSection"
              filter="de.tu_bs.cs.isf.cbc.tool.propertiesview.PictogramFilter"
              id="CodeReader"
              tab="CodeReader">
        </propertySection>
        <propertySection
              class="de.tu_bs.cs.isf.cbc.tool.propertiesview.BasicsSection"
              filter="de.tu_bs.cs.isf.cbc.tool.propertiesview.PictogramFilter"
              id="Basics"
              tab="Basics">
        </propertySection>
    </propertySections>
</extension>
<extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="de.tu_bs.cs.isf.cbc.tool.diagram.CbCDiagramDecorator"
            id="de.tu-bs.cs.isf.cbc.tool.cbcDiagramDecorator"
            label="CbCDiagramDecorator"
            location="BOTTOM_LEFT"
            state="true">
      </decorator>
   </extension>
</plugin>