<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="de.tu-bs.cs.isf.cbc.tool.diagramType"
            name="CbC Diagram"
            type="cbc">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="de.tu_bs.cs.isf.cbc.tool.diagram.CbCDiagramTypeProvider"
            context="org.eclipse.graphiti.ui.diagramEditor"
            id="de.tu-bs.cs.isf.cbc.tool.CbCDiagramTypeProvider"
            name="CbC Diagram Type Provider">
         <diagramType
               id="de.tu-bs.cs.isf.cbc.tool.diagramType">
         </diagramType>
         <imageProvider
               id="de.tu-bs.cs.isf.cbc.tool.imageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="de.tu_bs.cs.isf.cbc.tool.diagram.CbCImageProvider"
            id="de.tu-bs.cs.isf.cbc.tool.imageProvider">
      </imageProvider>
   </extension>
</plugin>
