<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.tu_bs.cs.isf.lattice.startup.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.tu_bs.cs.isf.lattice.commands.category"
            name="Lattice Category">
      </category>
      <command
            categoryId="de.tu_bs.cs.isf.lattice.commands.category"
            id="de.tu_bs.cs.isf.lattice.commands.UseLatticeCommand"
            name="Use Lattice">
      </command>
      <category
            id="de.tu_bs.cs.isf.lattice.LatticeNature.category"
            name="Lattice Project Nature commands">
      </category>
      <command
            categoryId="de.tu_bs.cs.isf.lattice.LatticeNature.category"
            defaultHandler="de.tu_bs.cs.isf.lattice.builder.AddRemoveLatticeNatureHandler"
            id="de.tu_bs.cs.isf.lattice.addRemoveLatticeNature"
            name="Add/RemoveLattice Project Nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.tu_bs.cs.isf.lattice.handlers.UseLatticeHandler"
            commandId="de.tu_bs.cs.isf.lattice.commands.UseLatticeCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.tu_bs.cs.isf.lattice.commands.UseLatticeCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=group.reorganize">
         <command
               commandId="de.tu_bs.cs.isf.lattice.commands.UseLatticeCommand"
               id="de.tu_bs.cs.isf.lattice.toolbars.UseLatticeCommand"
               tooltip="Use this security lattice">
         </command>
         <visibleWhen checkEnabled="false">
     		<with variable="selection">
                 <iterate
                       ifEmpty="false"
                       operator="or">
                    <adapt
                          type="org.eclipse.core.resources.IResource">
                       <or>
                          <test
                                property="org.eclipse.core.resources.extension"
                                value="dg">
                          </test>
                          <test
                                property="org.eclipse.core.resources.extension"
                                value="dot">
                          </test>
                       </or>
                    </adapt>
                 </iterate>
              </with>
         </visibleWhen>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="de.tu_bs.cs.isf.lattice.addRemoveLatticeNature"
               label="Disable Lattice project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="de.tu_bs.cs.isf.lattice.LatticeNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="de.tu_bs.cs.isf.lattice.addRemoveLatticeNature"
               label="Enable Lattice project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="de.tu_bs.cs.isf.lattice.LatticeNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="latticeProjectBuilder"
         name="Lattice Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="de.tu_bs.cs.isf.lattice.builder.LatticeProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="LatticeNature"
         name="Lattice Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.tu_bs.cs.isf.lattice.builder.LatticeNature">
         </run>
      </runtime>
      <builder
            id="de.tu_bs.cs.isf.lattice.latticeProjectBuilder">
      </builder>
    <requires-nature
            id="org.eclipse.jdt.core.javanature">
    </requires-nature>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
</plugin>
