<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated taxonomy -->
      <package
            uri="http://www.example.org/taxonomy"
            class="de.tu_bs.cs.isf.taxonomy.model.taxonomy.TaxonomyPackage"
            genModel="model/taxonomy.genmodel"/>
   </extension>

</plugin>
